<h1>Login Here</h1>


<h1>Log In</h1>
<%= render 'login' %>

<%# form_for :login do |watermelon|%>
<%# watermelon.text_field :email, placeholder: 'Email'%><br>
<%# watermelon.password_field :password, placeholder: 'Password'%><br>
<%# watermelon.submit 'Login'%><br>

<%#end%>
