<section class="footerBar">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 text-center">
				<a href="#"><i class="fa fa-facebook fa-3x"></i></a>
			</div>
			<div class="col-sm-4 text-center">
				<a href="tel:+1310-555-5555"><i class="fa fa-phone fa-3x"></i></a>
			</div>
			<div class="col-sm-4 text-center">
				<a href="#"><i class="fa fa-envelope fa-3x"></i></a>
			</div>
		</div>
	</div>
	<hr />
</section>


<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 clearfix">
				<h4>Site Map</h4>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<div class="pull-right">
					<h3>Newsletter</h3>
					<input type="email" name="email" placeholder="you@example.com">
				</div>
			</div>
		</div>
	</div>
</footer>
