<div class="container">
  <div class="jumbotron">
  <h1 style="text-align:center">Welcome to Rural Dictionary</h1>
  <h2 style="text-align:center">Define any word you'd like</h2>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</div>
