<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Create a New Account</strong>
    </div>
    <div class="panel-body">
    <%= render 'form_user' %>
    </div>
  </div>
</div>
