<div class="container">
  <div class="jumbotron">
    <h1>Hello, <%= @user.email %></h1>
    <h2>These are your definitions:</h2>
  </div>
#want to show all of users definitions here
  <div class="panel panel-default">
    <div class="panel-heading">

      <h3 class="panel-title"><%= @user.f_name %></h3>
    </div>
    <div class="panel-body">

        <% @user.words.each do |w|%>
      <strong><%= w.word%></strong>
      <% w.definitions.each do |d|%>
      <ul>
        <li><%= d.definition%></li>
      </ul>
      <%end%>
      <%end%>
    </div>
  </div>
  <%# render 'form_definition' %>
</div>
