<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @word.word %><%= @word.created_at %></h3>
  </div>
  <div class="panel-body">
    <%= @word.word %><%= @word.created_at %>
  </div>
</div>
</div>
