<div class="nav-blocker"></div>

<section class="edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="editForm">
					<%= form_for ( [ @user , @definition ] ) do |f| %>
						<%= f.text_area :content , class: "post-area text-small" , id: "eg-textarea" %>
						<hr />
						<ul>
							<li><%= f.submit "Submit" , class: "btn"  %></li>
							<li><%= link_to 'Home Page' , user_path( @user.id ) , class: "btn" %></li>
						</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>
