<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">

      <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">

        <% @words.each do |w|%>
      <strong><%= w.word%></strong>
      <% w.definitions.each do |d|%>
      <ul>
        <li><%= d.definition%></li>
      </ul>

      <%end%>
      <%end%>
  </div>
  <%# render 'form_definition' %>
</div>
