@import "bootstrap-sprockets";
@import "bootstrap";

.padded-icon {
 margin-right: 10px;
}

body {
  background-image: url("http://californianative.com/wp-content/uploads/2015/07/santa-monica-pier-at-sunset.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
